<h1>Welcome to Pumpkin Patch Pets</h1>

<p>We are an animal shelter for witches to find the right familiar for their every need! Please contact Madam Fauna Hecate at your local summoning centre to be added to the waiting list.</p>
