<form method="POST" action="/familiars/add" method="post">


<input type="hidden" name="name">

<label for="name-field">Name:</label>
<input
type="text"
name="name"
id="name-field">


<label for="species-field">Species:</label>
<input
type="text"
name="species"
id="species-field">


<label for="admission-date-field">Admission Date:</label>
<input
type="text"
name="admission_date"
id="admission-date-field">


<label for="adoptable-field">Adoptable:</label>
<input
type="bool"
name="adoptable"
id="adoptable-field">


<div class="form-el">
  <input type="submit" value="Submit">
</div>

  <!-- <input class="btn btn--action" type='submit' value="OK"> -->
</form>
