<h1>Assign Witch to Familiar</h1>

<form action="/assign" method="post">
  <label>
  Select a familiar:
    <select name="@familiar.id">
      <% for familiar in @familiars %>
      <option value="<%= familiar.id %>"><%= familiar.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a witch:
    <select name="@witch.id">
      <% for witch in @witches %>
      <option value="<%= witch.id %>"><%= witch.name %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="OK">
</form>
