body {
  padding: 40px;
  font-family: 'Luminari', fantasy;
  color: Gold;
  background: #000000 url("images/images.jpg") no-repeat scroll 100% 0%;
  font-size: 16px;
}

.familiar {
  padding: 50px;
  font-size: 16px;
}

.witch {
  padding: 50px;
  font-size: 16px
}

a {
  color: Purple;
}
